@page
@model IndexModel
@{
    ViewData["Title"] = "Forside";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til 112News Video Marked</h1>
    <p>Krimi video fra hele landet</p>
    <img src="~/Images/FrontPageImage.jpg" />
</div>